.Form-Input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.Form_Group-Input {
  /* padding-top: 20px; */
  height: 87.2px;

  width: 70%;
  align-self: center;
  text-align: center;

  /* display: flex; */
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.Form_Field-Input {
  width: 75%;
  height: 50px;
  border-radius: 8px;
  text-align: center;
  transition: all 0.2s linear;
  font-size: 16px;
}

.Form_Field-Input:focus {
  box-shadow: 0 4px 4px rgb(24, 23, 23);
  outline: none;
}

.Form_Error-Input {
  color: #ff8080;
  /* margin-left: 60%; */
}

.div-msg-error {
  width: 100%;
  height: 20px;
  margin-left: 23%;
}

.Form_Btn-Input {
  margin-top: 30px;
  height: 50px;
  width: 50%;
  border-radius: 25px;
  border: none;
  background-color: #333;
  cursor: pointer;
  margin-bottom: 15px;
  color: white;
  align-self: center;
  font-size: 15px;
  letter-spacing: 2px;
  transition: all 0.2s ease;
}

.Form_Btn-Input:active {
  transform: scale(0.9);
}

.esqueceu-senha-div {
  width: 100%;
  height: 15px;
  display: flex;
  justify-content: center;
}

.esqueceu-senha-p {
  color: #000;
  font-size: 15px;
}

.esqueceu-senha-p:hover {
  border-bottom: 1px solid lightskyblue;
  color: lightskyblue;
  cursor: pointer;
}
