.body-div-pedido {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 90%;
  background-color: #e28413;

  margin: 5px 0;
  border-radius: 5px;
  padding-top: 3px;
}

.id-div-pedido {
  height: 100%;
  width: 25%;

  display: flex;
  flex-direction: column;
}

.status-div {
  height: 100%;
  width: 25%;
}

.data-div {
  height: 100%;
  width: 25%;
}

.detalhes-div {
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-div-pedido {
  height: 40%;
  width: 100%;
}

strong {
}

.btn-abrirdetalhes {
  background-color: transparent;
  border: transparent;
  display: flex;

  align-items: center;
}

.btn-abrirdetalhes:hover {
  border-bottom: 1px solid #000;
  cursor: pointer;
}

i {
  margin-left: 10px;
}
