.app-footer {
  background: #333;
  padding: 0.5rem 2rem;
  text-align: left;
  position: relative;

  height: auto;
  align-items: center;

  width: 100%;

  bottom: 0;
}

#criadores {
  display: flex;
  justify-content: center;
}

.footer_ul {
  list-style: none;
  display: inline-block;
  font-size: 25px;
  margin-right: 2%;
  color: rgb(255, 254, 254);
}

a {
  font-size: 1rem;
  color: rgb(255, 254, 254);
  text-decoration: none;
}

footer a:hover {
  color: #00e1ff;
}
